[submodule "SimpleMath/vendor/spdlog"]
	path = SimpleMath/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "SimpleMath/vendor/googletest"]
	path = SimpleMath/vendor/googletest
	url = https://github.com/google/googletest
